*{margin: 0;
padding:0 ;
box-sizing: border-box;}

#container-1{
      
    width: 600px;
    background-color: #002062;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* top: 532px;
    left: 105px; */

}
.logo{
    width: 400px;
height: 70px;
/* top: 50px;
left: 89px; */
opacity: 1;
}

.log-in p{
width: 350px;
height: 10px;
/* top: 350px; */
opacity: 1;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 30px;
line-height: 20px;
letter-spacing: 0%;
color: white;


}
.log-in{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px ;
    height:40px ;
    width:300px ;
    margin-top:50px ;
}

.input-box{
    padding:20px ;
    display: flex;
    flex-direction: column;

}
.input-1{
    width: 300px;
height: 35px;
border-radius: 10px;
opacity: 1;
/* top: 330px;
left: 115px; */
border-width: 1px solid #4671C6A6;
color: black;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 108%;
letter-spacing: 0%;

}
.input-2{
    width: 300px;
height: 35px;
border-radius: 10px;
opacity: 1;
/* top: 330px;
left: 115px; */
border-width: 0.3px;
color: black;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 108%;
letter-spacing: 0%;
margin-top: 10px;
border: 1px solid #4671C6A6


}
.forgot-password a{
    color: white;
display: flex;
align-items: flex-end;
justify-content: end;
margin-right: 30px;
margin-top: 10px;
}
 
.group-img{
    idth: 315px;
height: 250px;
opacity: 1;   
/* top: 532px;
left: 40px; */
opacity: 1;

}

